[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amazon-braket-sdk = "*"
ipykernel = "*"
matplotlib = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
